.bg {
    text-align: center;
    /* background-color: #404853; */
}
.bg img {
    width: 100%;
}

a {
    color: #ccc;
    background: #666;
    padding: 2px 5px;
}
img.sm-img {
    width: 20% !important;
    text-align:center;
    border-radius: 50%;
}