<div class="heading">
  <h1 class="title">{{movie.title}}</h1>
</div>

<div class="row wrapper">
  <div class='col-md-8 mt-3 left'>
    <p><span class="red">RELEASED IN:</span> {{ movie.releaseYear }}</p>
    <p><span class="red">PRODUCED IN:</span> {{ movie.createdAt }} | Full Episode</p>
    <p><span class="red">AUDIO:</span> English</p>
    <p><span class="red">SUBTITLE:</span> English</p>
    <p><span class="red">>GENRE:</span>
      <span class="badge badge-pill badge-secondary" *ngFor="let gen of movie.genre"> {{ gen }} </span>
    </p>
    <div class="details">
      In This Episode: {{ movie.description }}
    </div>
  </div>

  <div class='col-md-4 right'>
    <img src="{{ movie.image.url }}" alt="{{ movie.image.name }}" title="{{ movie.title }}" class="grid-img">
    <br><br>
    <div class="row">
      <div class="col-md-8">
        <div class="crop" title="rating">
          <div>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="favourite">
          <i class="fa fa-heart" *ngIf="!isFavourite" (click)="addToFavourite()" title="Add To Favourite"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div *ngIf='errorMessage' class='alert alert-danger'>
    {{ errorMessage }}
</div>

<div class='card-footer'>
  <button class='btn' (click)='onBack()'>
    <i class='fa fa-chevron-left'></i> Go Back
  </button>
</div>

<section class="related">
  <h3>TO BE RELEASED SOON: </h3>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <img src="https://peruzal-parse-media.s3.amazonaws.com/eee9d012-a5c1-42e2-8f38-0efc1729d89b_10.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <img src="https://peruzal-parse-media.s3.amazonaws.com/b2610bfc-c8b7-48e0-8577-15ed47952a26_3.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <img src="https://peruzal-parse-media.s3.amazonaws.com/db4e5018-a345-4535-a99a-b77689f83d0a_5.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <img src="https://peruzal-parse-media.s3.amazonaws.com/fc92ca2c-bb7d-4020-b92e-f5fa0915181b_7.jpg" alt="">
    </div>
  </div>
</section>
