<div class="fixed">
  <a [routerLink]="['/']">
    <img class="logo" src="../assets/images/logo.gif" alt="{{ title }}">
  </a>
  <nav class="topnav">
    <ul class="left">
      <li><a [routerLink]="['/movies']">MOVIES</a></li>
      <li><a [routerLink]="['/favourites']">MY FAVOURITES</a></li>
    </ul>

    <div class="right" *ngIf="!auth.loggedIn">
      <a class="btn" [routerLink]="['/signin']">SIGN IN</a>
    </div>
    <div class="right" *ngIf="auth.loggedIn">
      <a class="btn" (click)="logout()">SIGN OUT</a>
    </div>
  </nav>
</div>
<div class='container main-content'>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  Designed and Developed By <cite>Odinaka Joy</cite> - ALCWithGoogle
</footer>
